@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "ag-grid-community/styles/ag-grid.css";

@import "tailwindcss";
@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

html {
  direction: rtl;
  font-family: "Assistant", sans-serif;
}
html.high-contrast {
  background-color: black !important;
  color: yellow !important;
}

html.grayscale {
  filter: grayscale(1);
}

html.underline-links a {
  text-decoration: underline !important;
}
body {
  direction: rtl;
  text-align: right;
  font-family: inherit;
}

/* Optional - override Tailwind's default text alignment for RTL */
.rtl {
  direction: rtl;
  text-align: right;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

/* Inputs (like MUI TextField) will not have ring */
input {
  @apply focus-visible:ring-0 focus-visible:outline-none focus:outline-none;
}
@layer base {
  .text-theme {
    color: var(--color-text);
  }

  .text-theme-strong {
    color: var(--color-text-strong);
  }

  .bg-theme {
    background-color: var(--color-bg);
  }

  .bg-theme-dark {
    background-color: var(--color-bg-dark);
  }

  .border-theme {
    border-color: var(--color-border);
  }

  .text-accent {
    color: var(--color-accent);
  }
}

.ag-theme-alpine {
  --ag-background-color: var(--color-bg);
  --ag-header-background-color: var(--color-bg);
}
